/node_modules
/public/hot
/public/debug.txt
/public/storage
/storage/*.key
/storage/framework
/storage/logs
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.DS_Store
/config/ip_auth.php
/storage
/README.md
